/* #FFFFFF 
footer  #333333

background-size:cover

*/

.big-img {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  /* grid-row: 1fr 1fr; */
  background: url("/img/slices-white-bread_140725-1283.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  /* row-gap: 20px;
  column-gap: 10px;
  padding: 30px; */
}

.gtp {
  display: grid;
  row-gap: 20px;
  column-gap: 10px;
  padding: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 1fr 1fr;
  padding-left: 5px;
}

body {
  background-color: #2e2a2a;
}

.aft {
  display: flex;
  justify-content: center;
}

.after-footer-p {
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-p {
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(241, 225, 192);
}

.btn-foot:link,
.btn-foot:visited {
  color: rgb(241, 225, 192);
  text-decoration: none;
}

.btn-foot:hover {
  color: aqua;
}

.bread,
.pastries,
.cakes,
.cookies {
  background-color: #252323;
  margin-left: 15%;
  padding-top: 15%;
  padding-left: 5%;
  padding-right: 20%;
}

.bread-p,
.cookies-p,
.cakes-p,
.pastries-p {
  font-style: italic;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}

.bread-img,
.cakes-img,
.pastries-img,
.cookies-img {
  width: 77px;
  height: 77px;
}

.bread-h4,
.pastries-h4,
.cookies-h4,
.cakes-h4 {
  font-weight: 500;
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin: 20px 0px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.logo-link-u {
  /* background-color: ; */
  width: 60px;
  font-size: 40px;
  font-weight: 300;
  padding-left: 10px;
  padding-bottom: 20px;
  font-family: sans-serif;
  font-style: italic;
  color: #171414;
  text-decoration: none;
}

.btn {
  margin: 0px 0px 20px;
}
.logo-link:link,
.logo-link:visited,
.logo-link:hover {
  color: #171414;
}

.btn:link,
.btn:active {
  text-decoration: none;
  color: antiquewhite;
}

.btn:visited {
  color: #6c6301;
}
.btn:hover {
  color: rgb(150, 16, 16);
}

button {
  opacity: 0;
}

/* ========  MOBILE  ======== */
@media (max-width: 574px) {
  .big-img {
    background: url("/img/slices-white-bread_140725-1283.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    height: 1270px;
  }

  .gtp {
    display: grid;

    row-gap: 20px;
    column-gap: 10px;
    padding: 30px;
    grid-template-columns: 1fr;
    grid-row: 1fr;
    padding-left: 5px;
  }

  .aft {
    display: flex;
    justify-content: center;
  }

  .after-footer-p {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer-p {
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(241, 225, 192);
  }

  .btn-foot:link,
  .btn-foot:visited {
    color: rgb(241, 225, 192);
    text-decoration: none;
  }

  .btn-foot:hover {
    color: aqua;
  }

  .bread,
  .pastries,
  .cakes,
  .cookies {
    background-color: #252323;
    margin-left: 15%;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 20%;
  }

  .bread-p,
  .cookies-p,
  .cakes-p,
  .pastries-p {
    font-style: italic;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
  }

  .bread-img,
  .cakes-img,
  .pastries-img,
  .cookies-img {
    width: 77px;
    height: 77px;
  }

  .bread-h4,
  .pastries-h4,
  .cookies-h4,
  .cakes-h4 {
    font-weight: 500;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: 20px 0px 0px;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .logo-link-u {
    width: 60px;
    font-size: 40px;
    font-weight: 300;
    padding-left: 10px;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-style: italic;
    color: #171414;
    text-decoration: none;
  }

  .btn {
    margin: 0px 0px 20px;
  }
  .logo-link:link,
  .logo-link:visited,
  .logo-link:hover {
    color: #171414;
  }

  .btn:link,
  .btn:active {
    text-decoration: none;
    color: antiquewhite;
  }

  .btn:visited {
    color: #6c6301;
  }
  .btn:hover {
    color: rgb(150, 16, 16);
  }
  button {
    opacity: 1;
    border: none;
    width: 30px;
    background-color: white;
  }

  .mobile-nav[name="close-outline"] {
    /* display: none; */
    pointer-events: none;
    visibility: hidden;
  }
  .hi .mobile-nav[name="close-outline"] {
    opacity: 1;
    visibility: hidden;
    pointer-events: auto;
  }

  .hi .mobile-nav[name="close-outline"] {
    visibility: visible;
    pointer-events: auto;
  }
}
